@media (max-width: 767.98px) {
  /* navbar */
  .navbar > .container {
    justify-content: flex-start !important;
    padding: 15px 0 !important;
  }

  .nav {
    display: grid;
  }

  .nav > li {
    border: none !important;
    padding: 0 20px;
    background-color: rgb(239, 239, 239);
  }

  .nav li:first-child,
  .nav li:nth-last-child(2) {
    background-color: rgb(225, 225, 225);
  }

  /* personal info */
  #about .row d.col-md-6 {
    padding: 50px 30px !important;
  }

  /* job-info */
  .lang,
  .hobby,
  .skill {
    padding-bottom: 20px !important;
  }

  .hobby .el--3 {
    padding: 0;
  }

  .hobby .hobby-container {
    padding: 0 26px !important;
  }

  .hobby-container .hobby-text {
    font-size: 16px;
  }

  .icon {
    left: 39.5px;
    top: 10px;
  }

  /* certificate */
  #certi-container .row .row {
    display: flex !important;
    margin: 0;
  }

  #certi-container .row div:nth-child(3) {
    border-left: none !important;
    padding-top: 0.5rem !important;
  }

  #certi h1 {
    padding-right: 30px;
  }

  /* project */
  .second-tr > td > span:nth-child(2) {
    grid-column: 1/-1;
  }

  .second-tr > td > span:last-child {
    grid-column: 1/-1;
  }

  .second-tr > td {
    gap: 8px;
  }

  /* project chapter */
  .g-item2 tr > td > div,
  .g-item3 tr > td > div,
  .g-item5 tr > td > div {
    padding-left: 2rem;
  }
}

@media (max-width: 575.98px) {
  #certi {
    padding: 3rem 1.5rem !important;
  }

  #footer > .container {
    padding: 2rem 0.5rem !important;
  }

  #footer ul {
    gap: 10px;
  }

  /* project chapter */
  .grid-6,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  .grid-4 > div {
    margin: 0 auto;
    padding: 0;
  }

  .g-item3 .grid-4 > div {
    margin: 0;
    padding-left: 0.5rem;
  }

  .table-5 td ul::before {
    width: 100%;
  }
}
